<!DOCTYPE html>
{% extends "Principal.html" %}

{% block content %}
<li>
    <a href="">Documentación paso a paso TPM</a>
</li>
<li>
    <a href="https://www.pythonanywhere.com/user/javiermanjarres/files/home/javiermanjarres/mysite/doc/cartilla.pdf">Documentación TPM</a>
</li>
<li>
    <a href="https://www.ingenieriaindustrialonline.com/lean-manufacturing/mantenimiento-productivo-total-tpm">Documentación de Interés</a>
</li>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock%}