<!DOCTYPE html>
{% extends "Principal.html" %}

{% block content %}

<body>
<div class="wrapper">
	  <nav id="sidebar">
		<ul class="list-unstyled components">
			<li class="active">
				<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Indicadores</a>
				<ul class="collapse list-unstyled" id="homeSubmenu">
					<li>
						<a href="http://javiermanjarres.byethost32.com/s4/index1.php">Indicador de Anomalías</a>
					</li>
					<li>
											
						<a href="http://jmb23.byethost11.com/s12/s12/">Indicador de Seguridad</a>
									    	
					</li>
					<li>
						<a href="http://javiermanjarres.byethost32.com/s6/index.php">Indicador de LUP'S</a>
					</li>
				</ul> 
			</li>
			
			<li class="active">
				<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Tarjetas</a>
				<ul class="collapse list-unstyled" id="pageSubmenu">
					<li>
						<a href="https://javier-manjarres.ga/reporte%20mantenimiento.php">Tarjeta de Anomalías</a>
					</li>
					<li>
						<a href="https://javier-manjarres.ga/tarjeta%20seguridad/reporte%20mantenimiento1.php">Tarjeta de Seguridad y Medio Ambiente</a>
					</li>
			   </ul>
			</li>   
		   <li class="active">
				<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Mapas</a>
				<ul class="collapse list-unstyled" id="homeSubmenu">
					<li>
						<a href="http://javiermanjarres.byethost32.com/s9/index.php">Mapa de Anomalías</a>
					</li>
					<li>
						<a href="http://javiermanjarres.byethost32.com/s8/index.php">Mapa de Seguridad</a>
					</li>
					<li>
						<a href="http://javiermanjarres.byethost32.com/s11/index.php">Mapa Ambiental</a>
					</li>  
			 
			 </ul> 
			</li>
			
			<li>
				<a href="http://javiermanjarres.byethost32.com/s7/index.php">Mejoras Enfocadas</a>
			</li>
			<li>
				<a href="http://javiermanjarres.byethost32.com/s6/index.php">Educación y Entrenamiento</a>
			</li>
			<li>
				<a href="http://javiermanjarres.byethost32.com/s12/s12/index.php">LDA y Fuentes de Contaminación</a>
			</li>
		</ul>
		
		</nav>
	
	
		<div class="textos">
			<br>
            <h1>¿Qué es TPM?</h1>
                <h2>Es una metodología orientada a establecer un sistema corporativo que maximice la eficiencia productiva, trabajando en la prevención de las pérdidas en todas las operaciones de la empresa. Esto quiere decir, lograr cero accidentes, averías y defectos en sus operaciones. Involucra a todos los integrantes de la empresa, desde los directivos hasta los colaboradores operativos. Las cero pérdidas se logran a través del trabajo de pequeños equipos.</h2>
                <h3>Objetivo General</h3>
                <h4>En resumen TPM:
                <li>1. Crea una organización que mejora continuamente los procesos</li>
			    <li>2. Establece una metodología para la eliminación de pérdidas</li>
			    <li>3. Logra la participación de todos para obtener resultados superiores</li>
			    <li>4. Orienta el trabajo de pequeños equipos hacia “cero pérdidas”.</li>
			    <h5> Estos son los pilares que estamos implementando...</h5>
				<h6><li>Mantenimiento autónomo:</li>
                Su objetivo es que el personal de Operación / Producción adquiera las habilidades necesarias para operar adecuadamente, identificar y tratar con prontitud cualquier condición anormal en las máquinas, es decir, participen de forma activa en el buen mantenimiento de los equipos. Pasos del Pilar de Mantenimiento Autónomo: 1. Limpieza como inspección. 2. Eliminación de fuentes de contaminación y lugares de difícil acceso. 3. Estándares preliminares de limpieza, inspección, lubricación y ajustes. 4. Inspección general del equipo. 5. Inspección general del proceso. 6. Aseguramiento de la calidad del proceso. 7. Práctica plena de la auto gestión. Pilares implementados Pilares no implementados<h/6>
			<li>Mantenimiento planeado:</li>
                Busca definir, planificar y ejecutar las acciones preventivas y predictivas que se deban tomar en un equipo para garantizar su función principal a un costo óptimo, su objetivo es evitar que se presenten fallas, es decir, lograr cero averías. Pasos del Pilar de Mantenimiento Planeado: 1. Evaluar el equipo y comprender la situación actual. 2. Restaurar el deterioro y corregir las debilidades. 3. Crear un sistema de gestión de la información. 4. Crear un sistema de mantenimiento periódico. 5. Crear un sistema de mantenimiento predictivo. 6. Evaluar el sistema de mantenimiento planificado.
			<li>Mejoras enfocadas:</li>
                Su objetivo es identificar los principales problemas, clasificarlos de acuerdo con el nivel de complejidad y definir un plan de acción orientado a eliminar las pérdidas. Busca maximizar la efectividad operativa eliminando desgastes y pérdidas mediante mejora de los equipos y procesos.
			<li>Educación y entrenamiento (E&E):</li>
                Su objetivo es planear las actividades para gestionar el conocimiento y habilidades de las personas para garantizar altos niveles de desempeño en su puesto de trabajo a través de programas integrados de formación y entrenamiento que apunten al cumplimiento de los objetivos estratégicos organizacionales.
			<li>Seguridad (SST):</li>
                El propósito fundamental del pilar es promover cero accidentes en el trabajo, en las personas la autogestión de incidentes, comportamientos y condiciones inseguras que puedan ocasionar accidentes de trabajo, creando una cultura de prevención y compromiso, tanto entre los integrantes con sus compañeros como del Líder del PET con la seguridad de su equipo de trabajo.
			<li>Medio ambiente:</li>
                Su objetivo es lograr cero accidentes ambientales. • Gestión del consumo de sustancias peligrosas y contaminantes, • Reducir y/o eliminar el desperdicio y las fuentes de contaminación • Implementar proyectos de separación de residuos y reciclaje eficaces. • Promover sistemas de producción limpia, la prevención y el reporte de incidentes y accidentes ambientales.</h6>

		 
</div>
</div>
</div>
</body>

{% endblock%}
</html>